.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    line-height: 1.2;
    padding: 0 24px;
}

.hero__title {
    font-weight: 700;
    color: var(--white);
    text-align: center;
}

.hero__description {
    text-align: center;
    max-width: 472px;
    color: var(--gray);
    line-height: 26px;
}


.hero__image img{
    border-radius: 10px;
    border: var(--border);
    transition: .8s filter ease-in;
    filter: grayscale(1);
    width: 100%;
}

.hero__image img:hover {
    filter: grayscale(0);
}

.hero::after {
    content: '';
    display: block;
    height: 80px;
    width: 3px;
    border-radius: var(--radius);
    margin-top: 40px;
    background: linear-gradient(180deg, var(--primary) 0%, var(--background) 100%);
}



@media screen and (min-width: 320px) {
    .hero {
        margin-top: var(--spacing-7);
    }

    .hero__title {
        font-size: 30px;
    }

    .hero__image img {
        max-width: 335px;
        max-height: 189px;
        margin-top: var(--spacing-8);
    }

    .hero__description {
        font-size: 14px;
    }
}


@media screen and (min-width: 425px) {
    .hero__image img {
        max-width: 385px;
        max-height: 217px;
    }
}

@media screen and (min-width: 576px) {
    .hero__title {
        max-width: 680px;
    }
}

@media screen and (min-width: 768px) {
    .hero {
        margin-top: var(--spacing-10);
    }

    .hero__title {
        font-size: var(--font-6);
    }

    .hero__description {
        font-size: 16px;
    }
}

@media screen and (min-width: 998px) {
    .hero__title {
        max-width: 753px;
    }
    
    .hero__image img {
        max-width: 100%;
        max-height: 100%;
    }
}