.gray {
    color: var(--gray);
}

.white {
    color: var(--white);
}

.base-color {
    color: #A8A8B3;
}

.font-1 {
    font-size: var(--font-1);
}

.font-2 {
    font-size: var(--font-3);
}

.font-3 {
    font-size: var(--font-3);
    line-height: 34px;
}

.font-4 {
    font-size: var(--font-4);
}

.font-5 {
    font-size: var(--font-5);
}

.font-6 {
    font-size: var(--font-6);
}