.container {
    max-width: 1120px;
    margin: 0 auto;
}

@media screen and (max-width: 1120px) {
    .container {
        margin: 0 24px;
    }
} 

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 320px) {
    .container {
        margin: 0 24px;
    }
}